# используем язык java. Travis CI поддерживает другие языки тоже.
language: java
jdk:
 - openjdk14

# используем режим обычного пользователя для сборки проекта.
sudo: false

# после выполнения сборки запустить скрипт, который будет собирать статистику по JaCoCo
# Здесь используется сторонни сервис https://codecov.io/
after_success:
  - bash <(curl -s https://codecov.io/bash)

# Отправлять уведомление на почту если сборка упала
notifications:
  email:
    recipients:
      -mihailbichkov@yandex.ru
    on_success: never # default: change
    on_failure: always # default: always
    
env:
    global:
    - CODECOV_TOKEN="58b1d65a-2bab-4f13-83fc-50b3361c2b65"